/*................................reset...........................................*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*................................clearfix...........................................*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}

body{
  font-family: 'Ubuntu', sans-serif; 
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-style: normal;
  font-variant: normal;
}

header{
  padding:25px 0;  
  /*position: fixed;*/
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
header.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;  
  padding: 25px 0;
  background: #fff;
  -webkit-box-shadow: 0 10px 10px -10px #000000;
  -moz-box-shadow: 0 10px 10px -10px #000000;
  box-shadow: 0 10px 10px -10px #000000;
}
.backcolor{
  background: #fff;
  position: absolute;
  z-index: 999;
}
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width:767px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
.logo {   
  float: left;
  width: 30%;   
}
header nav{width: 70%; float: left;; text-align: right;}

/* ------------------------------------------
  MASK
  --------------------------------------------- */

  .mask {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
    background: rgba(0,0,0, .5);
    visibility: hidden;
    position: fixed;
    opacity: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }

  .android .mask {
    -webkit-transition: none;
    transition: none;
  }

  .js-nav-active .mask {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (min-width: 767px) {
    .mask {
      display: none !important;
      opacity: 0 !important;
    }
  }

  .fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
  .nav-collapse,
  .nav-collapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .nav-collapse,
  .nav-collapse ul {
    list-style: none;
    width: 100%;
    float: left;
  }

  @media screen and (min-width: 767px) {
    .nav-collapse {
      float: right;
      width: auto;   
    }
  }

  .nav-collapse li {
    float: left;
    width: 100%;
  }

  @media screen and (min-width: 767px) {
    .nav-collapse li {
      width: auto;
      margin: 0 2px;
    }
  }

  .nav-collapse a {  
    font-family: 'Ubuntu', sans-serif; 
    font-size: 16px;     
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none; 
    padding: 5px 15px;
    color: #79818d;
    width: 100%;
    float: left;
    text-align: center;  
  }

  .nav-collapse a:active,
  .nav-collapse .active a{  
    color: #65a9d8; 
    transition:all 0.5s; 
  }
  .nav-collapse .active a:hover{
    color: #79818d; 
    transition:all 0.5s; 
  }
  .nav-collapse a:hover{
    color: #65a9d8; 
    transition:all 0.5s; 
  }
 /* .nav-collapse ul ul a {
    background: #ca3716;
    padding-left: 2em;
    }*/

    @media screen and (min-width: 767px) {
      .nav-collapse ul ul a {
        display: none;
      }
    }
    @font-face {
      font-family: "responsivenav";
      src:url("../icons/responsivenav.eot");
      src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
      url("../icons/responsivenav.ttf") format("truetype"),
      url("../icons/responsivenav.woff") format("woff"),
      url("../icons/responsivenav.svg#responsivenav") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    .nav-toggle {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-decoration: none;
      text-indent: -300px;
      position: relative;
      overflow: hidden;
      width: 60px;
      height: 55px;
      float: right;
    }

    .nav-toggle:before {
      color: #ffce54; /* Edit this to change the icon color */
      font: normal 28px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
      text-transform: none;
      text-align: center;
      position: absolute;
      content: "\2261"; /* Hamburger icon */
      text-indent: 0;
      speak: none;
      width: 100%;
      left: 0;
      top: 0;
    }

    .nav-toggle.active:before {
      font-size: 24px;
      content: "\78"; /* Close icon */
    }
    #banner{  
      background-color: #68aedf;     
      padding: 85px 0 0;
    }
    #banner h1{
      font-size: 52px;
      font-weight: 700;    
      line-height: 72px;
      padding-top: 135px;
    }
    #banner p.headp,#contact p.headp{
      font-size: 24px;
      font-weight: 300;
      line-height: 47px;     
    }
    #banner img.iphone{
      display: block;
      width: 100%;
      height: auto;
    }
    #banner p.innerp{
      font-size: 16px;
      font-weight: 500;
      padding-top: 50px;
    }
    #banner p.innerp span{    
      background-color: #ffce54;
      padding: 5px 10px;
      border-radius: 5px;
    }
    #banner form{
      padding-top: 30px;
    }
    #banner input,#contact input{
      font-weight: 300;
      font-size: 18px;
      border:1px solid #fff;
      color: #2d394c;
      background-color:#fff;
      outline: 0;
      width:400px;
      height:54px;
      border-radius: 5px;
      padding-left: 20px;     
    }
    #banner input:focus,#contact input:focus{
     border:1px solid #77c344;
     -webkit-box-shadow: 0 0 5px #77c344;
     -moz-box-shadow: 0 0 5px #77c344;
     box-shadow: 0 0 5px #77c344;
   }
   #banner button.btnsignup,#contact button.btnsignup{
    font-weight: 500;
    font-size: 18px;
    border:2px solid #77c344;
    color: #fff;
    background-color:#77c344;
    outline: 0;
    width:114px;
    height:54px;
    border-radius: 5px;
    margin-left: 30px;
  }
  #banner button.btnsignup:hover,#contact button.btnsignup:hover{
    background-color: #fff;    
    color: #77c344;
    transition:all 0.5s; 
  }
  .innerbanner{
    position: relative;
  }
  img#cloud1,img#cloud2,img#cloud3,img#cloud4{
    position: absolute;
  }
  img#cloud1{
    left: -30px;
  }
  img#cloud2{
    bottom: -200px;
  }
  img#cloud3{
    right: 130px;
    top: 130px;
  }
  img#cloud4{
    bottom: 100px;
    right: -57px;
  }
  aside{
    text-align: center;
    padding: 60px 0;
  }
  aside img{
    margin: 0 25px;
  }
  #work{
   text-align: left;
   background:url('../img/macbook.png') no-repeat right 75%;
   padding: 100px 0;
 }
 #work h2,#app h2,#contact h2{
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #2d394c;
  text-align: center;
  padding-bottom: 90px;
}
#work article{
  padding-top: 30px;
}
#work article img{
  position: relative;
  top: 15px;
  margin-right: 15px;
}
#work h3,#app h3{
  font-weight: 500;
  font-size: 22px;    
  color: #424c5e;
  padding-bottom: 20px;
}
#work p.openp,#app p.openp{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #9499a2;
}
#app{
  padding: 120px 0;
  background-color: #f3f3f3;
}
#app h2{
  padding-bottom: 150px;
}
#app h3{
  font-size: 28px;
  padding-bottom: 30px;
}
#app p.openp{
  font-size: 16px;
  line-height: 32px;
}
#app img.imgapp{
  margin-top: 80px;
}
#app article img{
  position: relative;
  top: 8px;
  margin-right: 20px;
  display: inline-block;
}

/*slider css*/
#bx-pager ul {
  list-style: none;
  margin:0;
  padding:0;
  width: 100%;
  text-align: center;
  padding-top: 35px;
}
#bx-pager li {
  display:inline-block;
  margin:0;
  padding:0;   
}
#bx-pager li a {
  text-decoration: none;   
  padding: 0;
  margin: 0;
  color: #bec1c7;
  line-height:30px;
  font-size: 15px;
  margin: 0 2px;
  font-weight: 700;
  display: block;
  width:30px;
  height: 30px;
  border-radius: 50%;
}
#bx-pager li a.active, #bx-pager li a:hover {
  background-color: #64a4d7;    
  color: #fff;
  transition:all 0.5s; 
}

#contact{
  padding: 100px 0;
  border-bottom: 1px solid #e8e8ea;
}
#contact h2 {
  padding-bottom: 0;
  color: #5a626e;
}
#contact p.headp{
  color: #5a626e;
  font-style: italic;
  text-align: center;
  padding: 30px 0;
}
#contact form{
  text-align: center;
  padding-top: 20px;
}
#contact input{
  background: url('../img/input.png') no-repeat 25px center;
  border: 1px solid #d1d1d1;
  width: 630px;
  height: 70px;
  font-size: 22px;
  padding-left: 75px;
}
#contact button.btnsignup{
  width:190px;
  height: 70px;
  font-size: 20px;
}
footer{
  padding: 50px 0;
}
footer nav{
  float: right;
}
footer p.openp{
  color: #5a626e;
  text-align: left;
  font-size: 12px;
}
footer p.openp a{
  text-decoration: none;
  color: #5a626e;
}
footer p.openp a:hover{
  color: #65a9d8;
  transition: all 0.5s;
}
footer nav ul{
  float: left;
}
footer nav ul.social{
  float: left;
}
footer nav ul br{
  display: none;
}
footer nav ul li{
  display: inline-block;
}
footer nav ul li:nth-child(5){
  border-right: 1px solid #d1d1d1;
}
footer nav ul li a{   
  font-size: 14px; 
  font-weight: 300; 
  text-decoration: none;
  padding: 5px 15px;
  color: #4d5664;
  width: 100%;
  float: left;
  text-align: center;
}
footer nav ul li a i.fa-twitter{
  color: #4cbcf6;
}
footer nav ul li a i.fa-facebook{
  color: #4a6daa;
}
footer nav ul li a i.fa-google-plus{
  color: #e74c40;
}
footer nav a:hover {
  color: #65a9d8;
  transition: all 0.5s;
}

/* New */

.os-animation {
  opacity: 0;
}
.os-animation.animated {
  opacity: 1;
}
.staggered-animation {
  opacity: 0;
}
.staggered-animation.animated {
  opacity: 1;
}
/*LOADER EFFECT*/
/*Paste this css to your style sheet file or under head tag*/
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9998;
 background: #68aedf;
}
.loader {
  height: 58px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  width: 58px;
}
.loader span {
  background: rgb(255,207,84);
  display: block;
  height: 12px;
  opacity: 0;
  position: absolute;
  width: 12px;
  animation: load 4.6s ease-in-out infinite;
  -o-animation: load 4.6s ease-in-out infinite;
  -ms-animation: load 4.6s ease-in-out infinite;
  -webkit-animation: load 4.6s ease-in-out infinite;
  -moz-animation: load 4.6s ease-in-out infinite;
}
.loader span.block-1 {
  animation-delay: 1.06s;
  -o-animation-delay: 1.06s;
  -ms-animation-delay: 1.06s;
  -webkit-animation-delay: 1.06s;
  -moz-animation-delay: 1.06s;
  left: 0px;
  top: 0px;
}
.loader span.block-2 {
  animation-delay: 0.97s;
  -o-animation-delay: 0.97s;
  -ms-animation-delay: 0.97s;
  -webkit-animation-delay: 0.97s;
  -moz-animation-delay: 0.97s;
  left: 16px;
  top: 0px;
}
.loader span.block-3 {
  animation-delay: 0.87s;
  -o-animation-delay: 0.87s;
  -ms-animation-delay: 0.87s;
  -webkit-animation-delay: 0.87s;
  -moz-animation-delay: 0.87s;
  left: 31px;
  top: 0px;
}
.loader span.block-4 {
  animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -moz-animation-delay: 0.78s;
  left: 47px;
  top: 0px;
}
.loader span.block-5 {
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
  left: 0px;
  top: 16px;
}
.loader span.block-6 {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  left: 16px;
  top: 16px;
}
.loader span.block-7 {
  animation-delay: 0.51s;
  -o-animation-delay: 0.51s;
  -ms-animation-delay: 0.51s;
  -webkit-animation-delay: 0.51s;
  -moz-animation-delay: 0.51s;
  left: 31px;
  top: 16px;
}
.loader span.block-8 {
  animation-delay: 0.41s;
  -o-animation-delay: 0.41s;
  -ms-animation-delay: 0.41s;
  -webkit-animation-delay: 0.41s;
  -moz-animation-delay: 0.41s;
  left: 47px;
  top: 16px;
}
.loader span.block-9 {
  animation-delay: 0.32s;
  -o-animation-delay: 0.32s;
  -ms-animation-delay: 0.32s;
  -webkit-animation-delay: 0.32s;
  -moz-animation-delay: 0.32s;
  left: 0px;
  top: 31px;
}
.loader span.block-10 {
  animation-delay: 0.23s;
  -o-animation-delay: 0.23s;
  -ms-animation-delay: 0.23s;
  -webkit-animation-delay: 0.23s;
  -moz-animation-delay: 0.23s;
  left: 16px;
  top: 31px;
}
.loader span.block-11 {
  animation-delay: 0.14s;
  -o-animation-delay: 0.14s;
  -ms-animation-delay: 0.14s;
  -webkit-animation-delay: 0.14s;
  -moz-animation-delay: 0.14s;
  left: 31px;
  top: 31px;
}
.loader span.block-12 {
  animation-delay: 0.05s;
  -o-animation-delay: 0.05s;
  -ms-animation-delay: 0.05s;
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  left: 47px;
  top: 31px;
}
.loader span.block-13 {
  animation-delay: -0.05s;
  -o-animation-delay: -0.05s;
  -ms-animation-delay: -0.05s;
  -webkit-animation-delay: -0.05s;
  -moz-animation-delay: -0.05s;
  left: 0px;
  top: 47px;
}
.loader span.block-14 {
  animation-delay: -0.14s;
  -o-animation-delay: -0.14s;
  -ms-animation-delay: -0.14s;
  -webkit-animation-delay: -0.14s;
  -moz-animation-delay: -0.14s;
  left: 16px;
  top: 47px;
}
.loader span.block-15 {
  animation-delay: -0.23s;
  -o-animation-delay: -0.23s;
  -ms-animation-delay: -0.23s;
  -webkit-animation-delay: -0.23s;
  -moz-animation-delay: -0.23s;
  left: 31px;
  top: 47px;
}
.loader span.block-16 {
  animation-delay: -0.32s;
  -o-animation-delay: -0.32s;
  -ms-animation-delay: -0.32s;
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  left: 47px;
  top: 47px;
}




@keyframes load {
  0% {
    opacity: 0;
    transform: translateY(-97px);
  }
  15% {
    opacity: 0;
    transform: translateY(-97px);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  70% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 0;
    transform: translateY(97px);
  }
  100% {
    opacity: 0;
    transform: translateY(97px);
  }
}

@-o-keyframes load {
  0% {
    opacity: 0;
    -o-transform: translateY(-97px);
  }
  15% {
    opacity: 0;
    -o-transform: translateY(-97px);
  }
  30% {
    opacity: 1;
    -o-transform: translateY(0);
  }
  70% {
    opacity: 1;
    -o-transform: translateY(0);
  }
  85% {
    opacity: 0;
    -o-transform: translateY(97px);
  }
  100% {
    opacity: 0;
    -o-transform: translateY(97px);
  }
}

@-ms-keyframes load {
  0% {
    opacity: 0;
    -ms-transform: translateY(-97px);
  }
  15% {
    opacity: 0;
    -ms-transform: translateY(-97px);
  }
  30% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
  70% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
  85% {
    opacity: 0;
    -ms-transform: translateY(97px);
  }
  100% {
    opacity: 0;
    -ms-transform: translateY(97px);
  }
}

@-webkit-keyframes load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-97px);
  }
  15% {
    opacity: 0;
    -webkit-transform: translateY(-97px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  85% {
    opacity: 0;
    -webkit-transform: translateY(97px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(97px);
  }
}

@-moz-keyframes load {
  0% {
    opacity: 0;
    -moz-transform: translateY(-97px);
  }
  15% {
    opacity: 0;
    -moz-transform: translateY(-97px);
  }
  30% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  70% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  85% {
    opacity: 0;
    -moz-transform: translateY(97px);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(97px);
  }
}